.slider-item .slider-text h2{
    font-size: 4rem;
    color: #fff;
    line-height: 1.2;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 0.5em;
}

.home-product .btn {
    background: #ffa040;
    text-transform: uppercase;
    padding: 25px 40px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 1px;
    /* animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

.home-product .btn:hover {
    background-color: #f48e26;
}

.icon-img-10{
    width:10%
}
.section {
    padding: 6em 0;
}

.section-one{
    background-color: #f9f7f5;
}

.video-block video{
    width:100%;
}
.service-icon {
    height: 150px;
}

.text-left{
    text-align: left;
}