
.text-left{
    text-align: left;
}

.first-item:before{
    opacity:0;
}
.second-item:before{
    opacity:0.5
}
.third-item:before{
    opacity:0.5
}

.slider-item .slider-text h1{
    font-size: 4rem;
}