html {
    scroll-behavior: smooth;
  }
.white{
    color:white;
}
.light-orange{
    color:#ffa040;
}
.home-page-new-product{
    position: absolute;
    top:75vh
}

@keyframes color {
    0%   {background-color:  #ffa040;}
    25%  {background-color: #f48e26;}
    50%  {background-color: #ffa040;}
    100% {background-color: #f48e26;}
  }


.home-product .btn {
    background: #ffa040;
    text-transform: uppercase;
    padding: 25px 40px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 1px;
    /* animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

.home-product .btn:hover {
    background-color: #f48e26;
}


.icon-img{
    width:50%;
}

.carplate-thumb {
    display: block;
    position: relative;
    margin-bottom: 30px;
  }
  
  .carplate-thumb img {
    /* border: 10px solid #fff; */
  }
  
  .carplate-thumb .work-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin-top: 20px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .carplate-thumb .work-text h2 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  
  .carplate-thumb .work-text p {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .carplate-thumb:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  
  .carplate-thumb .work-text {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }
  
  .carplate-thumb:before {
    opacity: 1;
    visibility: visible;
  }