
#product-detail a {
  color: black;
}
p {
  white-space: pre-wrap;
}

#productImg-reel, #productImg-reel .reel{
  display:inline;
}

/* ================================================== MediaQuery ================================================== */
@media screen and (max-width: 575.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1919.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1920px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}