.service-icon {
    height: 35px;
}
.product-items{
    position: relative;
    background: rgb(201,201,201);
    background: linear-gradient(135deg, rgba(201,201,201,1) 0%, rgba(245,245,245,1) 40%, rgba(227,227,227,1) 100%);
    border-radius: 12px;
    transition: 1s;
    cursor: pointer;



}
.product-items:hover{
    background: linear-gradient(135deg, rgb(255, 215, 176) 0%, rgba(245,245,245,1) 40%, rgb(255, 215, 176) 100%);

}


.product-items img{
    cursor: pointer;
    max-width: 100%;
    height: 220px;
    object-fit: contain;
    padding: 20px 20px 20px 20px;
    z-index:2
}
