
#product-detail a {
  color: black;
}
p {
  white-space: pre-wrap;
}

#productImg-reel, #productImg-reel .reel{
  display:inline;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  background: #000;
  width: 100%; /* Set width to 80% */
  margin: 0 auto; /* Center the container */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* ================================================== MediaQuery ================================================== */
@media screen and (max-width: 575.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .w980h400 {
      width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1919.98px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}
@media (min-width: 1920px) {
  .w980h400 {
      max-width: 100%;
  }
  .w490h800 {
      max-width: 100%;
  }
}