.section{
    padding: 3em 0;
}
.service-icon {
    height: 35px;
}
.project-items{
    background:#e3e3e3;
    border-radius: 12px;
}
.project-items img{
    cursor: pointer;
    width:100%;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    box-sizing: border-box;
    border: 4px #e3e3e3 solid;
}