<link rel="stylesheet" href="css/about.css" />
<!--Banner部份-->
<div class="inner-page">
  <div
    class="slider-item overlay"
    style="background-image: url('images/Outdoor Cam.jpeg')"
    data-stellar-background-ratio="0.5"
  >
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-9 text-center col-sm-12 element-animate">
          <h1 class="mb-4">{{displayText.aboutTitle}}</h1>
          <!-- <p class="custom-breadcrumbs"><a href="#!home">{{displayText.home}}</a> <span class="mx-3">/</span> {{displayText.about}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--關於巨普部份-->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="d-block text-uppercase text-secondary">
          {{displayText.aboutChiper}}
        </h2>
      </div>
      <div class="col-lg-5 mb-5">
        <span class="divider my-2"></span>
        <h3 class="mb-4 section-title">
          {{displayText.aboutChiperTitle1}}
          <strong>{{displayText.aboutChiperTitle2}}</strong>
          {{displayText.aboutChiperTitle3}}
        </h3>
        <!-- <p>{{displayText.aboutChiperContent}}</p> -->
        <p>{{displayText.aboutChiperContent2}}</p>
        <p>{{displayText.aboutChiperContent3}}</p>
        <p>{{displayText.aboutChiperContent4}}</p>
        <p>{{displayText.aboutChiperContent5}}</p>
        <p>{{displayText.aboutChiperContent6}}</p>
        <!-- <p><a href="#" class="btn btn-outline-black">Learn More</a></p> -->
      </div>
      <div class="col-lg-7 my-4">
        <img
          src="images/certificate/chiper-milestone-v2.png"
          alt="Image"
          class="img-fluid"
          ng-if="lang==1"
        />
        <img
          src="images/certificate/chiper-milestone-env2.png"
          alt="Image"
          class="img-fluid"
          ng-if="lang==2"
        />

        <!-- <figure class="img-dotted-bg">
            <img src="images/milestone.png" alt="Image" class="img-fluid">
          </figure> -->
      </div>
      <!--資安政策部份-->
      <div class="col-lg mb-5">
        <h2 class="d-block text-uppercase text-secondary">
          {{displayText.securityPolicyTitle}}
        </h2>
        <span class="divider my-2"></span>
        <p>{{displayText.securityPolicyContent}}</p>
      </div>
    </div>
  </div>
</div>
<!--巨普認證部份-->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="d-block text-uppercase text-secondary">
          {{displayText.chiperCertification}}
        </h2>
        <span class="divider my-2"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="media d-block media-custom text-center">
          <img
            src="images/certificate/iso.png"
            alt="Image Placeholder"
            class="img-fluid"
            ng-if="lang==1"
          />
          <img
            src="images/certificate/iso-en.png"
            alt="Image Placeholder"
            class="img-fluid"
            ng-if="lang==2"
          />

          <div class="media-body">
            <h3 class="mt-2 text-black">ISO 9001:2015 CERTIFICATION</h3>
            <!-- <p>Founder</p> -->
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="media d-block media-custom text-center">
          <img
            src="images/certificate/42431989-ISMS-I-1.png"
            alt="Image Placeholder"
            class="img-fluid"
          />

          <div class="media-body">
            <h3 class="mt-2 text-black" ng-if="lang==1">
              ISO/IEC 27001:2022 全組織通過證書
            </h3>
            <h3 class="mt-2 text-black" ng-if="lang==2">
              SO/IEC 27001:2022 Organization-Wide Certification
            </h3>
            <!-- <p>Founder</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
          <figure class="img-dotted-bg">
            <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-md-5 mr-auto">
          <h2 class="mb-4 section-title"><strong>Creativity</strong> Is Our Passion</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quos, adipisci aliquid similique
            saepe ipsa minus maxime alias libero nam quis officia eum impedit. At quisquam reprehenderit cum hic enim?</p>
          <p>Necessitatibus eligendi molestias similique tempore, optio nobis numquam temporibus debitis cum aspernatur,
            eius, nihil soluta sapiente enim. Incidunt ipsam praesentium voluptate in pariatur dignissimos, ab corporis
            minima ea odio asperiores.</p>
  
        </div>
      </div>
    </div>
  </div> -->

<!-- <div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">巨普 <strong>團隊</strong></h2>
          <p class="mb-5 lead">堅強的陣容</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="images/adosin.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Adosin Lo</h3>
              <p>Founder</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="images/mei.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Meihua Liu</h3>
              <p>CoFounder</p>
            </div>
          </div>
        </div>
         <div class="col-lg-4">
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="images/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Laura Smith</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minus repudiandae amet.</p>
            </div>
          </div>
        </div> 
  
      </div>
  
    </div>
  </div> -->
<!-- END section -->
