<link rel="stylesheet" href="css/product-detail.css">

<!-- Optional theme -->
<div>
    <div class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 text-center" id="product-img">
                    <img class="w980h400" id="productImg" ng-if="productId!=44 && productId!=45">
                    <img class="w490h800" id="productImg" ng-if="productId==44 || productId==45">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="mb-4" id="name">智慧型標籤預警系統 </h2>
                    <h3 class="mb-4" id="code">CPT-SHR</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span ng-repeat="d in productDesc">
                        <pre id="description">{{d}}</pre>
                    </span>
                    <h4 style="font-size:18px;">AI 主動式防護</h4>
                    <pre id="description">- 主動危機告警 <br>可選:車牌辨識、人員闖入、車流統計、人流統計 <br>- 深度影像識別<br>支援客製化識別服務，提供最符合現場需求的解決方案
                    </pre>
                    <h4 style="font-size:18px;">全天候守護</h4>
                    <pre id="description">- IP68<br>- Full HD高畫質,解析度可達1080P@60fps<br>-日/夜間道路上,可清晰辨識150Km以上車速之前/後車牌.達98%以上<br>-連續使用下,工作壽命可達20,000小時以上
                    </pre>
                  
                </div>
                <div class="col-lg-6">


                    <ul class="list-unstyled mb-5">
                        <li class="mb-3">
                            <strong class="d-block text-black">{{displayText.type}}</strong>
                            <p id="type">智能辨識</p>
                        </li>

                    </ul>
                    <p ng-if="productDetail.doc_path!=&#39;&#39;"><a ng-href="{{productData.spec}}"
                            ng-if="productData.spec!=null" id="doc_path" target="_blank"
                            class="btn btn-outline-black ">{{displayText.download}}</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-primary py-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
                    <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>

                    <p class="mb-0"><a href="#!contact"
                            class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a></p>
                </div>
            </div>

        </div>
    </div>
</div>