<link rel="stylesheet" href="css/carplate-road.css">

<div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('images/traffic.jpg');">
    <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-10 text-center col-sm-12 element-animate">
                <h1 class="mb-4">{{displayText.title}}</h1>
                <!-- <h2 class="mb-4">一般道路/高速公路</h2> -->
                <div class="home-product  text-center" data-animation="fadeInUp" data-delay=".7s"
                    style="animation-delay: 0.7s;">
                    <a href="#!contact#contact" class="btn hero-btn" tabindex="0">{{displayText.orderNow}}</a>
                </div>
            </div>

        </div>
    </div>

</div>



<div class="section section-one"
    style="background-image: url('images/b1.png');  background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="icons/iconCustomization.svg" class="icon-img-10 mb-3" alt="night">
                <h2 class="section-title">{{displayText.customize}}</h2>
                <p class="mb-5 text-left">{{displayText.customizeContent}}</p>
                <img src="images/carplate/rsz_carplate10.png" alt="Image" class="img-fluid mb-5">
            </div>
            <br>
            <div class="col-lg-6 text-center">
                <img src="/icons/iconAnalysis.svg" class="icon-img-10 mb-3" alt="data">
                <h2 class="section-title">{{displayText.dataAnalysis}}</h2>
                <p class="mb-5 text-left">{{displayText.dataAnalysisContent}}</p>
                <img src="images/carplate/rsz_carplate7.png" alt="Image" class="img-fluid mb-5">
            </div>
            <div class="col-lg-6 text-center">
                <img src="icons/iconPlatform.svg" class="icon-img-10 mb-3" alt="cloud">

                <h2 class="section-title">{{displayText.platform}}</h2>
                <p class="mb-5 text-left">{{displayText.platformContent}}</p>
                <img src="images/carplate/rsz_carplate8.png" alt="Image" class="img-fluid mb-5">
            </div>
            <div class="col-lg-6 text-center">
                <img src="icons/iconPlugAndPlay.svg" class="icon-img-10 mb-3" alt="cctv">
                <h2 class="section-title">{{displayText.plugAndUse}}</h2>
                <p class="mb-5 text-left">{{displayText.plugAndUseContent}}</p>
                <img src="images/carplate/rsz_carplate1.png" alt="Image" class="img-fluid mb-5">
            </div>
        </div>

    </div>
</div>

<div class="section section-one"
    style="background-image: url('images/b6.png');  background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <h2 class="section-title text-center">{{displayText.demo}}</h2>
        <br>
        <div class="row mt-3">
            
            <div class="col-lg-12 video-block" >
                <h3 class="text-center">{{displayText.demoSearch}}</h3>
                <video autoplay="" muted="" loop playsinline=""  src="video/demo1.mp4"></video>
            </div>
        </div>
        <div class="row mt-5">
            
            <!-- <div class="col-lg-2" >
            </div> -->
           
            <div class="col-lg-12 video-block" >
                <h3 class="text-center">{{displayText.demoRoad}}</h3>
                <video autoplay="" muted="" playsinline="" loop src="video/v13.mp4"></video>
            </div>
        
        </div>
    </div>
</div>


<div class="section section-one"
    style="background-image: url('images/b4.png');  background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <h2 class="section-title text-center">{{displayText.applicationField}}</h2>
        <br>
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconSchool.svg" class="service-icon"
                            alt="school"></span>
                    <h3>{{displayText.service1}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconCommunity.svg" class="service-icon" alt="building"></span>
                    <h3>{{displayText.service2}}</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconFactory.svg" class="service-icon" alt="factory"></span>
                    <h3>{{displayText.service3}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconRoad.svg" class="service-icon" alt="road"></span>
                    <h3>{{displayText.service4}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconCompany.svg" class="service-icon" alt="company"></span>
                    <h3>{{displayText.service5}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconMall.svg" class="service-icon" alt="mall"></span>
                    <h3>{{displayText.service6}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconParking.svg" class="service-icon" alt="parking"></span>
                    <h3>{{displayText.service7}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service text-center">
                    <span class="mb-4 d-block"><img src="icons/iconAmusement.svg" class="service-icon" alt="parking"></span>
                    <h3>{{displayText.service8}}</h3>
                </div>
            </div>

          


        </div>
        
    </div>
</div>

<div class="bg-primary py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
                <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>

                <p class="mb-0"><a href="#!contact"
                        class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a></p>
            </div>
        </div>

    </div>
</div>