<link rel="stylesheet" href="css/carplate-community.css">

<div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="background-image: url('images/apartment.jpg');">
    <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-10 text-center col-sm-12 element-animate">
                <h1 class="mb-4">AI 車牌辨識</h1>
                <h2 class="mb-4">社區/學校/工廠</h2>
                <div class="home-product  text-center" data-animation="fadeInUp" data-delay=".7s"
                    style="animation-delay: 0.7s;">
                    <a href="#!contact" class="btn hero-btn" tabindex="0">馬上訂購</a>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mr-auto mb-5">
                <h2 class="mb-4 section-title">簡單的操作界面</h2>
                <p>一目了然的界面，直接把最重要的資訊整合給您</p>
            </div>
            <div class="col-lg-8">
                <figure class="img-dotted-bg">
                    <img src="images/carplate/carplate1.png" alt="Image" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mr-auto mb-5">
                <h2 class="mb-4 section-title">簡單的操作界面</h2>
                <p>一目了然的界面，直接把最重要的資訊整合給您</p>
            </div>
            <div class="col-lg-8">
                <figure class="img-dotted-bg">
                    <img src="images/carplate/carplate1.png" alt="Image" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="section portfolio-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="mb-4 section-title">最新方案</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="specs/chiper-lpr.pdf" target="_blank" class="work-thumb">
                    <div class="work-text">
                        <h2>車牌辨識</h2>
                        <p>提供您人性且客製化的車辨服務</p>
                    </div>
                    <img src="images/carplate.png" alt="Image" class="img-fluid">
                </a>
                <a href="portfolio.html" target="_blank" class="work-thumb">
                    <div class="work-text">
                        <h2>監控設備</h2>
                        <p>惡劣環境，防爆，交給我們</p>
                    </div>
                    <img src="images/community.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="services.html" target="_blank" class="work-thumb">
                    <div class="work-text">
                        <h2>光達方案</h2>
                        <p>利用３Ｄ呈像技術，實現實時準確的物體偵測</p>
                    </div>
                    <img src="images/lidar-people.png" alt="Image" class="img-fluid">
                </a>
                <a href="services.html" target="_blank" class="work-thumb">
                    <div class="work-text">
                        <h2>鐵路防闖</h2>
                        <p>道路的安全，我們控管</p>
                    </div>
                    <img src="images/lrt.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p><a href="portfolio.html" class="btn btn-outline-white px-4 py-3">更多產品</a></p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" id="carplate">
                <h2 class="mb-4 section-title">AI 車牌辨識系統</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service">
                            <span class="mb-4 d-block"><img src="images/icon/night.png" class="icon-img"
                                    alt="license"></span>
                            <h3>環境適應</h3>
                            <p>在夜晚、高速環境下皆可準確辨識</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service">
                            <span class="mb-4 d-block"><img src="images/icon/data-analysis.png" class="icon-img"
                                    alt="license"></span>
                            <h3>數據分析</h3>
                            <p>一目了然的數據統計，把所有資料變成有用的資訊</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service">
                            <span class="mb-4 d-block"><img src="images/icon/cloud.png" class="icon-img"
                                    alt="license"></span>
                            <h3>智慧平台</h3>
                            <p>整合所有地區的車辨系統，一個平台即可查看所有資訊</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                    <a href="carplate-community.html" target="_blank" class="carplate-thumb">
                        <div class="work-text">
                            <h2>社區方案</h2>
                        </div>
                        <img src="images/apartment.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                    <a href="carplate-road.html" target="_blank" class="carplate-thumb">
                        <div class="work-text">
                            <h2>道路方案</h2>
                        </div>
                        <img src="images/traffic.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="section bg-light block-11">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center">
                    <h2 class="mb-4 section-title">熱門產品</h2>
                </div>
            </div>
            <div class="nonloop-block-11 owl-carousel">
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-EXH1840-IR.jpg"
                                    alt="cpt-exh1840"></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">耐環境氣侯 不鏽鋼紅外線防爆型防護罩</h2>
                                <span class="meta">防爆產品</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-適用安裝場所：煉油廠、加油站、瓦斯充氣站、汙水處理、火力發電、礦場、晶圓、生物科技、化學工廠、海邊、海域等易燃、鹽害、腐蝕、易爆等特殊環境場所</p>
                                <p>-高功率紅外線LED投射燈</p>
                                <p>-符合 CNS3376-0(2008)、CNS3376-1(2008) IEC 61241 , IECEx / ILAC / IAF / MLA防爆標準</p>
                                <p>-符合 IEC529 防塵防水標準及IP-68 國際標準</p>
                                <p>-不鏽鋼 stainless steel 304 材質</p>
                                <p>-防撞擊鋼化光學視窗玻璃，清晰明亮適合高倍數鏡頭監控使用</p>
                                <p>-防爆結構 Ex d IIB - T6</p>
                                <p>-防爆端口採用 NPT ½" x 3 EExe 不鏽鋼 304材質</p>
                                <p>-內裝除霧電熱器並使用自動溫度開關控制</p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-EXH1546.jpg"
                                    alt="Person here"></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">耐環境氣侯 不鏽鋼 防爆型防護罩</h2>
                                <span class="meta">防爆產品</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-適用安裝場所：煉油廠、加油站、瓦斯充氣站、汙水處理、火力發電、礦場、晶圓、生物科技、化學工廠、海邊、海域等易燃、鹽害、腐蝕、易爆等特殊環境場所</p>
                                <p>-符合 CNS3376-0(2008)、CNS3376-1(2008) IEC 61241 , IECEx / ILAC / IAF / MLA防爆標準</p>
                                <p>-符合 IEC529 防塵防水標準及IP-68 國際標準</p>
                                <p>-不鏽鋼 stainless steel 304 材質</p>
                                <p>-防撞擊鋼化光學視窗玻璃，清晰明亮適合高倍數鏡頭監控使用</p>
                                <p>-防爆結構 Ex d IIC - T6</p>
                                <p>-防爆端口採用 NPT ½" x 3 EExe 不鏽鋼 304材質</p>
                                <p>-內裝除霧電熱器並使用自動溫度開關控制</p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-AP111T-100.jpg"
                                    alt="CPT-AP111T-100">
                            </div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">室內全功能旋轉台(含自動旋轉)</h2>
                                <span class="meta">防爆產品</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-符合 CE 國際安規</p>
                                <p>-承載水平 Pan：7Kg / 15Lb，垂直 Tilt：4Kg / 9Lb</p>
                                <p>-防火UL電纜 6pin空中引線接頭</p>
                                <p>-由微動開關在水平及垂直極限位置保護</p>
                                <p>-水平 Pan： 0° ～ 350°，垂直 Tilt：±35°</p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-AP112T-100.jpg"
                                    alt="CPT-AP112T-100">
                            </div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">全天候全功能高負載旋轉台</h2>
                                <span class="meta">防爆產品</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-防塵防水等級達IP-55.</p>
                                <p>-旋轉角度水平：0°∼ 355°垂直最大角度可至 ±95°</p>
                                <p>-硬化鋼齒輪驅動，延長迴轉台齒輪壽命</p>
                                <p>-本體加強硬化及鉻酸處理，適用於抗酸檢腐蝕環境</p>
                                <p>-垂直側臂配置鉛塊平衡</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-SHR600HD.jpg"
                                    alt="CPT-AP112T-100">
                            </div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">夜視型網路車道全景攝影機</h2>
                                <span class="meta">CPT-SHR150</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-Super H-IR 新一代高亮度紅外線元件,搭配攝影機一體化設計</p>
                                <p>-HD高畫質,解析度可達1080P</p>
                                <p>-夜間有限路燈光線下,可清晰拍攝多車道路況及車牌</p>
                                <p>-連續使用下,工作壽命可達10,000小時以上</p>
                                <p>-符合防水防塵等級IP-68</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-SHR600HD.jpg"
                                    alt="CPT-SHR600HD-100">
                            </div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">夜視型網路車道全景攝影機</h2>
                                <span class="meta">CPT-SHR750</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-防塵防水等級達IP-55.</p>
                                <p>-旋轉角度水平：0°∼ 355°垂直最大角度可至 ±95°</p>
                                <p>-硬化鋼齒輪驅動，延長迴轉台齒輪壽命</p>
                                <p>-本體加強硬化及鉻酸處理，適用於抗酸檢腐蝕環境</p>
                                <p>-垂直側臂配置鉛塊平衡</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="images/product/CPT-SHR600HD.jpg"
                                    alt="CPT-AP112T-100">
                            </div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">高速紅外線網路車辨攝影機</h2>
                                <span class="meta">CPT-SHR600HD3</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>-防塵防水等級達IP-55.</p>
                                <p>-旋轉角度水平：0°∼ 355°垂直最大角度可至 ±95° </p>
                                <p>-硬化鋼齒輪驅動，延長迴轉台齒輪壽命 </p>
                                <p>-本體加強硬化及鉻酸處理，適用於抗酸檢腐蝕環境 </p>
                                <p>-垂直側臂配置鉛塊平衡</p>

                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END .block-4 -->
</div>

<div class="bg-primary py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-4 font-weight-normal">沒有看到您要的服務？</h3>
                <p class="text-white mb-5">沒問題！我們提供客製化的服務，請告訴我們您的需求，我們將有專業團隊為您服務</p>

                <p class="mb-0"><a href="contact.html" class="btn btn-outline-white px-4 py-3">聯絡我們</a></p>
            </div>
        </div>

    </div>
</div>