<link rel="stylesheet" href="css/project.css">


<div class="inner-page">
    <div class="slider-item overlay" style="background-image: url('images/train.png');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-lg-9 text-center col-sm-12 element-animate">
                    <h1 class="mb-4">{{displayText.title}}</h1>
                    <p class="custom-breadcrumbs"><a href="index.html">{{displayText.home}}</a> <span class="mx-3">/</span> {{displayText.project}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto mb-5">
                <span class="d-block text-uppercase text-secondary">{{displayText.recent}}</span>
                <span class="divider my-4"></span>
                <h2 class="mb-4 section-title">{{displayText.recentTitle1}}<strong>{{displayText.recentTitleBold1}}</strong></h2>
                <p>{{displayText.recentContent1}}</p>
                <p class="mb-5">{{displayText.recentContent12}}</p>
                    <a href="http://xn--2z3apf.tw/"  target="_blank">{{displayText.recentLink1}}</a><br>

            </div>
            <div class="col-lg-7 my-auto">
                <img src="images/service/lrt-service.png" alt="Image" class="img-fluid">
            </div>

            <div class="row mb-5">
                <div class="col-lg-7 my-auto">
                    <img src="images/service/lpr-view.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-5">
                    <h2 class="mb-4 section-title">{{displayText.recentTitle2}}<strong>{{displayText.recentTitleBold1}}</strong></h2>
                    <p>{{displayText.recentContent2}}</p>
                    <p class="mb-5">{{displayText.recentContent22}}</p>
                    <a href="specs/chiper-lpr.pdf" title＝"車牌辨識規格書" target="_blank">{{displayText.recentLink2}}</a><br>

                </div>
            </div>
            <br>
            <br>
            <div class="row my-auto mb-5">
                <div class="col-lg-5 ">
                    <h2 class="mb-4 section-title"><strong>{{displayText.recentTitleBold3}}</strong>{{displayText.recentTitle3}}</h2>
                    <p class="mb-5">{{displayText.recentContent3}}</p>
                    <a href="http://114.34.123.170:8080/railroad_crossing/home.htm">{{displayText.recentLink3}}</a><br>
                    <a href="http://218.161.50.24:8080/railroad_crossing/home.htm">{{displayText.recentLink32}}</a>

                </div>
                <div class="col-lg-7">
                    <img src="images/service/tlr-service.png" alt="Image" class="img-fluid">
                </div>
            </div>
            <!-- <div class="col-lg-6">
          <div class="row mt-5">
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span class="icon icon-shield mb-4 d-block"></span>
                <h3>Branding</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id volume amet.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span class="icon icon-screen-desktop mb-4 d-block"></span>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id volume amet.</p>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span class="icon icon-screen-smartphone mb-4 d-block"></span>
                <h3>App Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id volume amet.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span class="icon icon-rocket mb-4 d-block"></span>
                <h3>Start Up</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id volume amet.</p>
              </div>
            </div>
          </div>
        </div> -->
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-12">
                <h2 class="mb-4 section-title">{{displayText.moreService}}</strong></h2>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/explosive.svg" class="service-icon"
                            alt="explosive"></span>
                    <h3>{{displayText.service1}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/door.svg" class="service-icon" alt="door"></span>
                    <h3>{{displayText.service2}}</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/cctv.svg" class="service-icon" alt="cctv"></span>
                    <h3>{{displayText.service3}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/infrared.svg" class="service-icon" alt="infrared"></span>
                    <h3>{{displayText.service4}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="icon icon-camrecorder mb-4 d-block"></span>
                    <h3>{{displayText.service5}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/joystick.svg" class="service-icon" alt="joystick"></span>
                    <h3>{{displayText.service6}}</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/ai.svg" class="service-icon" alt="ai"></span>
                    <h3>{{displayText.service7}}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="service">
                    <span class="mb-4 d-block"><img src="icons/iot.svg" class="service-icon" alt="iot"></span>
                    <h3>{{displayText.service8}}</h3>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="bg-primary py-5">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
          <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>
  
          <p class="mb-0"><a href="#!contact" class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a></p>
        </div>
      </div>
  
    </div>
  </div>