<link rel="stylesheet" href="css/contact.css">
<!--Banner部份-->
<div class="inner-page">
    <div class="slider-item overlay" style="background-image: url('images/community-full.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-lg-9 text-center col-sm-12 element-animate">
                    <h1 class="mb-4">{{displayText.title}}</h1>
                    <!-- <p class="custom-breadcrumbs"><a href="index.html">{{displayText.home}}</a> <span
                            class="mx-3">/</span> {{displayText.contact}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--聯絡我們內容部份-->
<div class="section">
    <div class="container">
        <div class="mb-4" id="contact">
            <!--聯絡我們部份-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">{{displayText.title}}</h2>
            <p class="text-center w-responsive mx-auto mb-5">{{displayText.contactInfo}}</p>
            <!--聯絡我們表單部份-->
            <div class="row">
                <div class="col-md-12 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                        <div class="row">
                            <!--您的名字部份-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">{{displayText.contactName}}
                                        <span class="red">*</span>
                                    </label>
                                    <input type="text" id="name" name="name" class="form-control" ng-model="name">
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <!--Email部份-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Email<span class="red">*</span></label>
                                    <input type="text" id="email" name="email" class="form-control" ng-model="email">
                                </div>
                            </div>
                            <!--電話部份-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="phone" class="">{{displayText.contactPhone}}</label>
                                    <input type="text" id="phone" name="phone" class="form-control" ng-model="phone">
                                </div>
                            </div>
                        </div>
                        <!--關於主題部份-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">{{displayText.contactSubject}}<span
                                            class="red">*</span></label>
                                    <input type="text" id="subject" name="subject" class="form-control"
                                        ng-model="subject">
                                </div>
                            </div>
                        </div>
                        <!--給我們的訊息部份-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">{{displayText.contactMessage}}</label>
                                    <textarea type="text" id="message" name="message" rows="5" ng-model="message"
                                        class="form-control md-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--寄出按鈕部份-->
                    <div class="text-center text-md-right mt-3">
                        <a class="btn btn-primary" ng-click="send();">{{displayText.contactSend}}</a>
                    </div>
                    <div class="status"></div>
                </div>
            </div>
        </div>
        <!--辦公室資訊部份-->
        <div class="row mt-50">
            <!--台灣辦公室資訊部份-->
            <div class="col-md-6 order-2 mb-5">
                <h3 class="mb-4">{{displayText.taiwanOffice}}</h3>
                <div class="row ">
                    <div class="col-md-8 contact-form-contact-info">
                        <p class="d-flex">
                            <span class="ion-ios-location icon mr-5"></span>
                            <span>{{displayText.taiwanOfficeAdd}}</span>
                        </p>
                        <p class="d-flex">
                            <span class="ion-ios-telephone icon mr-5"></span>
                            <span>{{displayText.taiwanOfficeTel}}</span>
                        </p>
                        <p class="d-flex">
                            <span class="ion-android-mail icon mr-5"></span>
                            <span>support@chiper.com.tw</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--美國辦公室資訊部份-->
            <div class="col-md-6 order-2 mb-5">
                <h3 class="mb-4">{{displayText.usOffice}}</h3>
                <div class="row ">

                    <div class="col-md-8 contact-form-contact-info">
                        <p class="d-flex">
                            <span class="ion-ios-location icon mr-5"></span>
                            <span>18 Apostle, Is, Madision WI 53719</span>
                        </p>
                        <p class="d-flex">
                            <span class="ion-ios-telephone icon mr-5"></span>
                            <span>608-274-2475</span>
                        </p>
                        <p class="d-flex">
                            <span class="ion-android-mail icon mr-5"></span>
                            <span>wei@chipertechs.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>