<link rel="stylesheet" href="css/home.css" />
<!--Landing part 幻燈片-->
<div id="carouselChiper" class="carousel slide" data-ride="carousel">
  <!-- 1 Slides -->
  <!-- <div class="carousel-item" ng-class="{'active': 0 === currentIndex}">
    <div class="slider-item second-item" data-stellar-background-ratio="0.5"
      style="background-image: url('images/homepage/news1.jpg')">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div
              class="col-lg-10 text-center col-sm-12 element-animate home-title-bg shadow"
            >
          <div class="col-lg-10 text-center col-sm-12">
            <h1 class="mb-4">{{displayText.slideTitle1}}</h1>
            <h1 class="mb-4">{{displayText.slideSubtitle1}}</h1>
            <div class="text-center" data-animation="fadeInUp" data-delay=".7s" style="animation-delay: 0.7s">
              <a href="javascript:void(0)" ng-click="toUDAS()" class="btn slider-btn"
                tabindex="0">{{displayText.knowMore}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- 2 Slides -->
  <div class="carousel-item" ng-class="{'active': 0 === currentIndex}">
    <div class="slider-item third-item" data-stellar-background-ratio="0.5"
      style="background-image: url('images/180.jpg')">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-10 text-center col-sm-12">
            <h1 class="mb-4">{{displayText.slideTitle2}}</h1>
            <a href="javascript:void(0)" ng-click="toProductPage()" class="btn slider-btn"
              tabindex="0">{{displayText.knowMore}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel Controls -->
<!-- <a class="carousel-control-prev" href="javascript:void(0)" role="button" ng-click="prevSlide()">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="javascript:void(0)" role="button" ng-click="nextSlide()">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a> -->
</div>

<!--最新產品部份-->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto mb-5">
        <span class="d-block text-uppercase text-secondary">{{displayText.lastestTitle}}</span>
        <span class="divider my-4"></span>
        <h2 class="mb-4 section-title">
          {{displayText.aboutTitle1}}
          <strong>{{displayText.aboutTitle2}}</strong>
          {{displayText.aboutTitle3}}
        </h2>
        <p>{{displayText.aboutContent}}</p>
        <!-- <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus.</p> -->
        <p>
          <a href="#!about" class="btn btn-outline-black">{{displayText.knowMore}}</a>
        </p>
      </div>
      <div class="col-lg-6">
        <figure class="img-dotted-bg">
          <img src="images/research.jpg" alt="Image" class="img-fluid" />
        </figure>
      </div>
    </div>
  </div>
</div>
<!--最新方案部份-->
<div class="section portfolio-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="mb-4 section-title">{{displayText.latestProject}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a href="specs/chiper-lpr.pdf" target="_blank" class="work-thumb">
          <div class="work-text">
            <h2>{{displayText.carplate}}</h2>
            <p>{{displayText.carplateContent}}</p>
          </div>
          <img src="images/carplate.png" alt="Image" class="img-fluid" />
        </a>
        <a href="#!product" class="work-thumb">
          <div class="work-text">
            <h2>{{displayText.cctv}}</h2>
            <p>{{displayText.cctvContenr}}</p>
          </div>
          <img src="images/community.jpg" alt="Image" class="img-fluid" />
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#!project" class="work-thumb">
          <div class="work-text">
            <h2>{{displayText.lidar}}</h2>
            <p>{{displayText.lidarContent}}</p>
          </div>
          <img src="images/rsz_lidar-people.png" alt="Image" class="img-fluid" />
        </a>
        <a href="#!project" class="work-thumb">
          <div class="work-text">
            <h2>{{displayText.rail}}</h2>
            <p>{{displayText.railContent}}</p>
          </div>
          <img src="images/lrt.jpg" alt="Image" class="img-fluid" />
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <p>
          <a href="#!project" class="btn btn-outline-black px-4 py-3">{{displayText.moreProject}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--熱門產品部份-->
<div class="section" id="carplateSection">
  <div class="section block-11" ng-show="lang==1">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">{{displayText.hotProducts}}</h2>
        </div>
      </div>
      <div class="nonloop-block-11 owl-carousel">
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(7)">
              <div class="image align-self-center" >
                <img src="images/product/CPT-EXH1840-IR.jpg" alt="cpt-exh1840" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">耐環境氣候 不鏽鋼紅外線防爆型防護罩</h2>
                <span class="meta">防爆產品 CPT-EXH1840</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(8)">
              <div class="image align-self-center">
                <img src="images/product/CPT-EXH1546.jpg" alt="Person here" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">耐環境氣候 不鏽鋼防爆型防護罩</h2>
                <span class="meta">防爆產品 CPT-EXH1546</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(18)">
              <div class="image align-self-center">
                <img src="images/product/CPT-PT30/23-CPT-PT30.png" alt="CPT-PT30" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">室內全功能旋轉台(含自動旋轉)</h2>
                <span class="meta">防爆產品</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(16)">
              <div class="image align-self-center">
                <img src="images/product/CPT-AP115T/12-CPT-AP115T.png" alt="CPT-AP115T" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">全天候全功能高負載旋轉台</h2>
                <span class="meta">防爆產品</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(1)">
              <div class="image align-self-center">
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-AP112T-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">夜視型網路車道全景攝影機</h2>
                <span class="meta">CPT-SHR150</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(2)">
              <div class="image align-self-center">
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-SHR600HD-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">夜視型網路車道全景攝影機</h2>
                <span class="meta">CPT-SHR750</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(3)">
              <div class="image align-self-center" >
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-AP112T-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">高速紅外線網路車辨攝影機</h2>
                <span class="meta">CPT-SHR600HD3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section block-11" ng-show="lang==2">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">{{displayText.hotProducts}}</h2>
        </div>
      </div>
      <div class="nonloop-block-11 owl-carousel">
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(16)">
              <div class="image align-self-center">
                <img src="images/product/CPT-AP115T/12-CPT-AP115T.png" alt="CPT-AP115T" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  Weather Proof Heavy duty Pan/Tilt Driver
                </h2>
                <span class="meta">CPT-AP115T</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(1)">
              <div class="image align-self-center" >
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-AP112T-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">ANPR IR Lamp DSP color camera</h2>
                <span class="meta">CPT-SHR150</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(2)">
              <div class="image align-self-center">
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-SHR600HD-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  High speed ANPR IR Lamp DSP color camera
                </h2>
                <span class="meta">CPT-SHR750</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(3)">
              <div class="image align-self-center">
                <img src="images/product/CPT-SHR600HD.jpg" alt="CPT-AP112T-100" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  High sensitivity for ANPR IR Lamp DSP color camera
                </h2>
                <span class="meta">CPT-SHR600HD3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(7)">
              <div class="image align-self-center">
                <img src="images/product/CPT-EXH1840-IR.jpg" alt="cpt-exh1840" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  Pressure &amp; Dust Explosion‐Proof Stainless Steel IR camera
                  Housing
                </h2>
                <span class="meta">CPT-EXH1840</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3" onClick="toProductDetailPage(8)">
              <div class="image align-self-center">
                <img src="images/product/CPT-EXH1546.jpg" alt="Person here" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  Explosion-proof &amp; weather-proof Stainless Housing
                </h2>
                <span class="meta">CPT-EXH1546</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block-33 h-100">
            <div class="vcard d-flex mb-3"  onClick="toProductDetailPage(18)">
              <div class="image align-self-center">
                <img src="images/product/CPT-PT30/23-CPT-PT30.png" alt="CPT-PT30" />
              </div>
              <div class="name-text align-self-center">
                <h2 class="heading">
                  Weather Proof Heavy duty Pan/Tilt Driver
                </h2>
                <span class="meta">CPT-PT30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END .block-4 -->
</div>
<!--熱門產品部份-->
<div class="bg-primary py-5">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h3 class="text-white mb-4 font-weight-normal">
          {{displayText.moreService}}
        </h3>
        <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>
        <p class="mb-0">
          <a href="#!contact" class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a>
        </p>
      </div>
    </div>
  </div>
</div>