<link rel="stylesheet" href="css/project.css">

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-md-0 mb-5" ng-hide="isPassed">
                N<input type="text" id="name" name="name" class="form-control" ng-model="name">
                P<input type="text" id="password" name="password" class="form-control" ng-model="pwd" ng-keydown="$event.keyCode === 13 && getMessages()">
                <br>
                <a class="btn btn-primary" ng-click="getMessages();" >OK</a>
            </div>
            <br>
            <div class="col-lg-12 my-auto" ng-show="isPassed">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">姓名</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">主題</th>
                        <th scope="col">內容</th>
                        <th scope="col">時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="message in messageData">
                        <th scope="row">{{message.id}}</th>
                        <td>{{message.name}}</td>
                        <td>{{message.email}}</td>
                        <td>{{message.phone}}</td>
                        <td>{{message.sub}}</td>
                        <td>{{message.message}}</td>
                        <td>{{message.datetime}}</td>
                      </tr>
                   
                    </tbody>
                  </table>
            </div>

     
        </div>
    </div>
</div>


