<link rel="stylesheet" href="css/product.css">

<div class="inner-page">
    <div class="slider-item overlay" style="background-image: url('images/lidar-people.png');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-lg-9 text-center col-sm-12 element-animate">
                    <h1 class="mb-4">{{displayText.title}}</h1>
                    <!-- <p class="custom-breadcrumbs"><a href="index.html">{{displayText.home}}</a> <span
                            class="mx-3">/</span> {{displayText.product}}</p> -->
                </div>
            </div>
        </div>
    </div>

 
</div>
<div class="section portfolio-section ng-scope">
    <div class="container">
        <!--車牌辨識攝影機 -->
        <div ng-repeat="type in productType">
            <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
                <div class="col-md-8 text-center">
                    <h2 class="mb-4 section-title">{{type.type}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center" ng-repeat="product in productData" ng-if="product.type==type.type">
                    <div class="product-items" ng-click="goProductDetail(product.id)">
                        <div class="text-center"><img ng-src={{product.img}} alt="Image" ng-click="goProjectDetail(project.id)"></div>
                        <h4 class="pl-4 pr-4 section-title">
                            <strong >{{product.name}}</strong>    
                        </h4>
                        <p class="pl-4 pr-4 pb-4">{{product.model}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<div class="bg-primary py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
                <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>

                <p class="mb-0"><a href="#!contact"
                        class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a></p>
            </div>
        </div>

    </div>
</div>
<style>
    #myVideo {

  min-width: 100%;
  min-height: 100%;
}
</style>