<link rel="stylesheet" href="css/product-detail.css">
<div>
    <!--Product 內容部份-->
    <div class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 text-center" id="product-img">
                    <img class="palmvein" id="productImg" ng-if="productId==22" >
                    <img class="w980h400" id="productImg" ng-if="productId!=44 && productId!=45">
                    <img class="w490h800" id="productImg" ng-if="productId==44 || productId==45">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="mb-4" id="name">{{productData.name}} </h2>
                    <h3 class="mb-4" id="code">{{productData.model}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span ng-repeat="d in productDesc">
                        <pre id="description">{{d}}</pre>
                    </span>
                    <pre id="description">{{productData.description}}</pre>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3">
                            <strong class="d-block text-black">{{displayText.type}}</strong>
                            <p id="type">{{productData.type}}</p>
                        </li>
                    </ul>
                    <p ng-if="productDetail.doc_path!=&#39;&#39;">
                        <a ng-href="{{productData.spec}}"  ng-if="productData.spec!=null" id="doc_path" target="_blank"
                            class="btn btn-outline-black ">{{displayText.download}}</a>
                        </p>
                </div>
                <div class="col-lg-4 mt-5"><p class="mt-3"><a href="#!/product" class="btn btn-outline-black ">{{displayText.back}}</a></p></div>
            </div>
        </div>
    </div>
    <!--沒有看到您要的服務部份-->
    <div class="bg-primary py-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
                    <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>
                    <p class="mb-0">
                        <a href="#!contact"   class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>