<link rel="stylesheet" href="css/project-detail.css">
<div>
    <!--Project 內容部份-->
    <div class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 text-center" id="product-img">
                    <div id="videoContainer" class="video-container " ng-show="projectData.presentType=='video'"></div>
                    <img ng-if="projectData.presentType=='image'" class="w980h400" id="productImg" ng-src={{projectData.imageDetailSrc}}>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" >
                    <h2 class="mb-4" ng-if="lang==1" >{{projectData.title}}{{projectData.titleBold}} </h2>
                    <h2 class="mb-4" ng-if="lang==2" >{{projectData.titleEn}}{{projectData.titleBoldEn}} </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="projectContent" ng-if="lang==1">{{projectData.content}}</p>
                    <p class="projectContent" ng-if="lang==2">{{projectData.contentEn}}</p>
                </div>
                <div class="col-lg-12" ng-if="projectData.othersArr">
                    <p ng-if="lang==1">相關資料:</p>
                    <p ng-if="lang==2">More Information:</p>
                    <div class="col-12 px-4 mb-3" ng-repeat="others in projectData.othersArr">
                        <a class="projectContent" ng-href="{{others.link}}" target="_blank">{{others.title}}</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        <a href="#!/project" class="btn btn-outline-black ">{{displayText.back}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--沒有看到您要的服務部份-->
    <div class="bg-primary py-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService}}</h3>
                    <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>
                    <p class="mb-0">
                        <a href="#!contact" class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a>
                        </p>
                </div>
            </div>

        </div>
    </div>
</div>