<link rel="stylesheet" href="css/project.css">
<!--Banner部份-->
<div class="inner-page">
    <div class="slider-item overlay" style="background-image: url('images/project.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-lg-9 text-center col-sm-12 element-animate">
                    <h1 class="mb-4">{{displayText.title}}</h1>
                    <!-- <p class="custom-breadcrumbs"><a href="index.html">{{displayText.home}}</a> <span
                            class="mx-3">/</span> {{displayText.project}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--近期專案部份-->
<div class="section">
    <div class="container">
        <h2 class="d-block text-uppercase text-secondary">{{displayText.recent}}</h2>
        <span class="divider my-2"></span>
        <div class="row mb-4">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 px-4 mb-3" ng-repeat="project in projectList">
                <div class=" project-items">
                    <div class="text-center">
                        <img ng-src={{project.imageSrc}} alt="Image" class="img-fluid" ng-click="goProjectDetail(project.id)">
                        </div>
                    <h4 class="mt-4 pl-4 section-title">
                        <strong ng-if="lang==1">{{project.titleBold}}</strong>
                        <strong ng-if="lang==2">{{project.titleBoldEn}}</strong>
                    </h4>
                    <p class="pl-4 pr-4 pb-4" ng-if="lang==1">{{project.contentPre}}</p>
                    <p class="pl-4 pr-4 pb-4" ng-if="lang==2">{{project.contentPreEn}}</p>
                    <div class="text-right pr-4 pb-3">
                        <a ng-href="#!project-detail/{{project.id}}">{{displayText.readMore}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--沒有看到您要的服務部份-->
<div class="bg-primary py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-4 font-weight-normal">{{displayText.moreService2}}</h3>
                <p class="text-white mb-5">{{displayText.moreServiceContent}}</p>
                <p class="mb-0"><a href="#!contact"   class="btn btn-outline-white px-4 py-3">{{displayText.contactUs}}</a></p>
            </div>
        </div>
    </div>
</div>